body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

a:hover {
  background-color: red;
  padding: 1.2rem 2.5rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.6s ease;
}
