body {
  background-color: #eee;
  margin: 0;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  .card {
    width: 12rem;
    height: 17rem;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s ease;
    transform-origin: center bottom;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .card:nth-child(1) {
    background-color: rgb(253, 31, 31);
  }

  .card:nth-child(2) {
    background-color: rgb(255, 138, 36);
  }

  .card:nth-child(3) {
    background-color: rgb(234, 247, 145);
  }

  .card:nth-child(4) {
    background-color: rgb(178, 255, 111);
  }

  .card:nth-child(5) {
    background-color: rgb(141, 240, 61);
  }

  .card:nth-child(6) {
    background-color: rgb(110, 219, 255);
  }

  .card:nth-child(7) {
    background-color: rgb(151, 170, 249);
  }

  .card:nth-child(8) {
    background-color: rgb(244, 92, 252);
  }

  .card:nth-child(9) {
    background-color: rgb(250, 155, 255);
  }
}

section:hover {
  .card:nth-child(1) {
    transform: translateX(2rem) rotateZ(40deg);
  }

  .card:nth-child(2) {
    transform: translateX(1.5rem) rotateZ(30deg);
  }

  .card:nth-child(3) {
    transform: translateX(1rem) rotateZ(20deg);
  }

  .card:nth-child(4) {
    transform: translateX(0.5rem) rotateZ(10deg);
  }

  .card:nth-child(6) {
    transform: translateX(-0.5rem) rotateZ(-10deg);
  }

  .card:nth-child(7) {
    transform: translateX(-1rem) rotateZ(-20deg);
  }

  .card:nth-child(8) {
    transform: translateX(-1.5rem) rotateZ(-30deg);
  }

  .card:nth-child(9) {
    transform: translateX(-2rem) rotateZ(-40deg);
  }
}
